@charset "utf-8";
@font-face{
	font-family: 'SpoqaHanSansNeo';
	src: local('SpoqaHanSansNeo'),
		url('SpoqaHanSansNeo-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display:swap;
}

:root {--font-color1:#000; }
:root {--font-color2:#666; }

*{margin:0;padding:0;border:0;}
html{font-size:62.5%;}
html.light-mode{transition:all .4s ease-in-out;}
html.dark-mode{-webkit-filter: invert();transition:all .4s ease-in-out;}
html.dark-mode .check-mode{-webkit-filter: invert();}
html.dark-mode .check-mode input:checked + label:after{-webkit-filter: invert();}
html.dark-mode .check-mode label .txt{-webkit-filter: invert();}
body{font-size:1.6rem;background:#E6E8EC;font-family:'SpoqaHanSansNeo',sans-serif;line-height:1.5; -webkit-text-size-adjust : none}
a{color:var(--font-color1);text-decoration:none;}
button{color:var(--font-color1);background:none;cursor:pointer;font-family:'SpoqaHanSansNeo',sans-serif;font-size:inherit;}

.container{display:flex;padding:0px 50px;height:100vh;justify-content: center;align-items: center;transition:all .4s ease-in-out;}
.content{max-width:1440px;background:#fff;max-height:90vh;height:100%;width:100%;border-radius:15px;display:flex;box-shadow:rgba(0, 0, 0, 0.11) 0px 0px 11px;overflow:hidden;}
.head-sec{padding-bottom:30px;}
.head-sec .page-title{font-size:3.0rem;margin-bottom:5px;}
.head-sec .sub-txt{color:var(--font-color2);font-size:1.3rem;}
.section-freeview{position:relative;width:400px;flex:none;opacity:1;transition:all .4s
 ease-in-out;overflow:hidden;height:100%;background:#F5F7F9;}
.section-freeview:before{content:'';width:130px;height:100%;position:absolute;right:0;top:0;background:linear-gradient( to right, transparent , #F5F7F9 80% );z-index:3;}
.prj-symbol{position:absolute;left:30px;top:30px;width:200px;height:30px;background-repeat:no-repeat;background-position:0 center;background-size:auto 100%;z-index:3;color:transparent;}
.section-freeview .img-sec{position:relative;width:100%;height:100%;position:absolute;left:0;bottom:0;background:#ff9900;background-repeat:no-repeat;background-position:center center;background-size:100% auto;}
.section-freeview .img-sec:before{content:'';position:absolute;width:100%;height:200px;left:0;top:0;background:linear-gradient( to top, transparent , #F5F7F9 70%)}
.section-freeview .img-sec:after{content:'';position:absolute;width:100%;height:200px;left:0;bottom:0;background:linear-gradient( to bottom, transparent , #F5F7F9 50%)}
.section-freeview .prj-slogan{position:absolute;bottom:40px;;left:0;width:100%;z-index:3;padding:0px 30px}
.section-freeview .prj-slogan .text1{font-weight:bold;font-size:2.2rem;line-height:1.3;margin-bottom:10px;}
.section-freeview .prj-slogan .text2{font-size:1.2rem;color:var(--font-color2);}
.section-conts{position:relative;transition:all .4s ease-in-out;z-index:1;padding:20px;display:flex;flex-direction: column;width:100%;}
.scroll-y{overflow:auto;-webkit-overflow-scrolling: touch;}
.scroll-y::-webkit-scrollbar{width:6px;} 
.scroll-y::-webkit-scrollbar-thumb{width:10%;background-color:rgba(0,0,0,0.1);border-radius:10px;}
.scroll-y::-webkit-scrollbar-thumb:hover{background-color:rgba(0,0,0,0.5);}
.scroll-y::-webkit-scrollbar-track{background-color:rgba(0,0,0,0)}
.list-wrap .list-row{display:flex;justify-content: space-between;align-items: center;flex-wrap: wrap;font-size:1.4rem;;padding:10px;border-radius:10px;position:relative;}
.list-wrap .list-row:after{content:'';position:absolute;width:calc(100% - 20px);left:10px;bottom:0px;height:1px;background:#eee;}
.list-wrap .list-row:hover{background:#f8f8f8;}
.list-wrap .list-row .text1{font-size:1.6rem;margin-bottom:5px;}
.list-wrap .list-row .text2{color:#5A58A3;text-decoration:underline;}
.list-wrap .list-row a:hover >.text2{color:#39bbc2;}
.list-wrap .list-row .cell0{width:30px;flex:none;}
.list-wrap .list-row .cell1{width:70px;flex:none;}
.list-wrap .list-row .circle{display:block;width:40px;height:40px;border-radius:100%;text-align:center;background:#39bbc2;color:#fff;line-height:40px;}
.list-wrap .list-row .circle0{background:#5A58A3}
.list-wrap .list-row .circle1{background:#39bbc2}
.list-wrap .list-row .circle2{background:#d5c341}
.list-wrap .list-row .circle3{background:#7c56a0}
.list-wrap .list-row .circle4{background:#58a36c}
.list-wrap .list-row .circle5{background:#000000}
.list-wrap .list-row .circle6{background:#9d9d9d}
.list-wrap .list-row .cell2{flex:1;}
.list-wrap .list-row .cell3{width:80px;flex:none;text-align:center;}
.list-wrap .list-row .cell4{width:60px;flex:none;text-align:center;}
.list-wrap .list-row .cell5{width:60px;flex:none;text-align:center;position:relative;z-index:1;}
.list-wrap .list-row .tool-tip{flex:none;width:calc(100% - 20px);padding:10px;background:#eee;margin-top:10px;border-radius:15px;text-align:center;position:relative;z-index:0;}
.list-wrap .list-row .tool-tip:before{content:'';position:absolute;right:20px;top:-25px;width: 0;height: 0;border-bottom: 15px solid #eee;border-top: 15px solid transparent;border-left: 10px solid transparent;border-right: 10px solid transparent;}
.issue + .tool-tip{display:none;}
.issue .btn1{display: inline-block;height: 24px;line-height: 24px;font-size: 1.2rem;text-align: center;padding: 0px 8px;vertical-align: middle;border-radius: 2px;color:#aaa;background:#E7E9EE;cursor:default;pointer-events: none;}
.issue.on .btn1{color:#FC180F;background:#FFDDE2;cursor:pointer;pointer-events: all;}
.result{display: inline-block;height: 24px;line-height: 24px;font-size: 1.2rem;text-align: center;padding: 0px 8px;vertical-align: middle;border-radius: 2px;color:#DD7003;background:#FFF5E1;}
.result.on{color:#116E72;background:#E5F8F7;}
.abs-total{position:absolute;right:50px;top:60px;font-size:1.1rem;}
.abs-total .total-txt{font-size:1.4rem;margin-left:5px;font-weight:bold;color:#5A58A3;}
.date{font-size:1.2rem;}
.link-block{display:block;}
.pc-block{display:block;}
.m-block{display:none;}
.check-mode{position:absolute;right:40px;top:10px;}
.check-mode input{position:absolute;left:0;top:0;opacity:0;}
.check-mode input + label{position:relative;display:block;width:68px;padding-top:36px;font-size:1.1rem;text-align:center;background:url(dark-mode.png) center 0 no-repeat;background-size:auto 35px;overflow:hidden;cursor:pointer;}
.check-mode input + label .txt:after{content:' 해제'}
.check-mode input + label:before{content:'';width:50%;position:absolute;right:0px;top:0;height:35px;background:#fff;opacity:.7;transition:all .0s ease-in-out;}
.check-mode input + label:after{content:'';width:50%;position:absolute;left:-100%;top:0;height:35px;background:#fff;opacity:.7;transition:all .0s ease-in-out;}
.check-mode input:checked + label:before{right:-100%;}
.check-mode input:checked + label:after{left:0%;opacity:.8}
.check-mode input:checked + label .txt:after{content:'';}

.m-free-view{position:absolute;width:403px;height:100%;left:0;top:0;z-index:10;background:#fff url(phone.png) 0 0 no-repeat;background-size:100% auto;padding:49px 21px 0px;box-sizing:border-box;display:none;}
.m-free-view > iframe{width:360px;height:calc(90vh - 49px) ;border:0;}
.btn-close{position:absolute;z-index:11;right:7px;top:7px;border-radius:100%;width:40px;height:40px;background:#fff;border:3px solid #000;color:transparent;}
.btn-close:before{content:'';position:absolute;width:20px;height:2px;background:#000;top:calc(50% - 1px);left:8px;transform:rotate(45deg)}
.btn-close:after{content:'';position:absolute;width:20px;height:2px;background:#000;top:calc(50% - 1px);left:8px;transform:rotate(-45deg)}
.btn-close:hover{background:#39bbc2}

@media screen and (max-width: 980px) {
	.container{padding:10px;height:auto;}
	.content{max-height:none;height:calc(100vh - 20px);border-radius:10px;}
	.section-freeview{opacity:0;z-index:0;width:1px;}
	.head-sec{padding-top:0px;}
	.m-block{display:block;}
	.pc-block{display:none;}
	.list-wrap .list-row .tool-tip:before{right:15px;}
}
@media screen and (max-width: 640px) {
	.head-sec{padding:10px;}
	.head-sec .page-title{font-size:2.4rem;padding-right:70px}
	.section-conts{padding:10px;}
	.list-wrap .list-row{justify-content: flex-end}
	.cell0{display:none;}
	.list-wrap .list-row .cell1{width:50px;}
	.list-wrap .list-row .circle{width:30px;height:30px;font-size:1.3rem;line-height:30px;}
	.list-wrap .list-row .cell2{width:calc(100% - 50px);flex:auto;margin-bottom:10px;}
	.list-wrap .list-row .cell4,
	.list-wrap .list-row .cell5{width:50px;}
	.head-sec .sub-txt{font-size:1.1rem;}
	.abs-total{position:relative;right:auto;top:auto;margin-top:20px;text-align:right;padding-right:10px;margin-top:20px;}
	.list-wrap .list-row .text1{font-size:1.4rem;}
	.list-wrap .list-row .text2{font-size:1.4rem;}
	.check-mode {right:10px;}
}
